html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents unwanted scrollbars */
}

#unity-container {
    width: 80%;
    height: 80%;
    position: absolute;
}

#unity-canvas {
    width: 80% !important;
    /* height: 80% !important; */
}
